* {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    scroll-behavior: smooth;
  }

.container {
    max-width: 1088px;
    margin: auto;
    padding:0px 20px;
}
.btn-content {
    display: none;
}

.logo {
    display: flex;
}

.btn-menu {
    display:flex;
  justify-content:center;
  align-items:center;
  width:40px;
  height:40px;
  position:relative;
  /* background: #68B230; */
  cursor: pointer;
}
.btn {
    display: none;
    
}

.barra {
    transition:.3s;
    width:100%;
  height:15%;
  background:black;
  position: relative;
}
.barra::after, .barra::before {
    content: '';
    transition:.3s;
}

.barra, .barra::after, .barra::before {
    position: absolute;
    transition:.3s;
    background: #163D7A;
    width: 100%;
    height: 15%;
}


.barra::after{
    top:15px;
    height:100%;
}
.barra::before {
    top:-15px;
    height:100%;
}





#btn:checked ~ label > .barra {
    transition:.3s;
    transform:rotateZ(45deg);
  }
  
  #btn:checked ~ label > .barra::after {
    transform:rotateZ(90deg);
    top:0;
    transition:.3s;
  }
  
  #btn:checked ~ label > .barra::before {
    transform:rotateZ(90deg);
    top:0;
    transition:.3s;
  }


    


.logo img {
    max-width: 428px;
    padding: 15px 0px;
}

nav {
    width: 100%;
    background: linear-gradient(0deg, rgba(2,65,167,1) 0%, rgba(7,134,238,1) 100%);
    position: sticky;
    top: 0;
    z-index: 99999;

    
}

nav ul {
    display: flex;
    max-width: 1088px;
    flex-wrap: wrap;

}
nav ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li a {
    color:#FFFFFF;
    text-decoration: none;
    padding: 15px 0px 15px 0px;
    margin-right: 50px;
    font-size: 16px;
    font-family: 'Roboto';
}

nav ul li a:hover {
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 13px;
}

.menu {
display: flex;
justify-content: space-between;
}

.ingleslink {
    display:flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
}
.ingleslink:hover {
    border-bottom: 2px solid #FFFFFF;
}
.ingleslink img {
    padding-right: 8px;
}


.swiper-container {
    width: 100%;

  }

.slide-uno {
    background-image: url(../img/slide1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-uno .container {
    display: flex;
    padding: 30px 0px;
}
.slide-dos .container {
    display: flex;
    padding: 30px 0px;
}
.swiper-slide .container {
    width: 90%;
}

.slide-tres .container {
    display: flex;
    padding: 30px 0px;
}

.divide-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
}

.divide-text img {
    padding: 30px 0px 20px 0px;
}

.divide-text h1 {
    text-align: right;
    padding-top: 15px;
    font-size: 34px;
    font-family: 'Roboto';
    font-weight:800;
    color: #163D7A;
}

.divide-text h2 {
    text-align: right;
    font-size: 30px;
    font-family: 'Roboto';
    font-weight:normal;
    color: #163D7A;
}

.divide-text h3 {
    padding-top:  20px;
    text-align: right;
    font-size: 24px;
    font-family: 'Roboto';
    font-weight:normal;
    color: #163D7A;
}

.swiper-button-prev::after {
    color: #163D7A;
}
.swiper-button-next::after {
    color: #163D7A;
}

.swiper-pagination-bullet-active {
    background-color: #163D7A !important;
}

.numeros {
    border-radius: 27px;
    display: flex;
    justify-content: center;
    margin:50px auto ;
    background: #163D7A;
    
}

.part {
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
}
.part img {
    padding-right: 15px;
}
.part h3 {
    color: #FFFFFF;
    font-family: 'Roboto', serif;
    font-size: 19px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}
.part h3 strong {
    color: #FFFFFF;
    font-family: 'Roboto', serif;
    font-size: 30px;
    font-weight: 800;
}

.cifras {
    position: relative;
}
.cifras::after {
    position: absolute;
    content: 'Cifras Banco de Bogotá consolidado';
    top:180%;
    font-size: 17px;
    font-weight: bold;
    text-align: right;
    right: 0;
    width: 180%;
    color: #163D7A;
}

.reconocimientos h2 {
    font-size: 39px;
    font-weight: 800;
    text-align: center;
    color:rgba(22,61,122,1) ;
   
}

.reconocidos {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    
}

.reconocido {
    min-height:460px;
    max-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 100%;
    padding: 20px;
    margin: 40px 20px;
    box-shadow: 0px 6px 29px rgba(0, 0, 0, 0.369);
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    color:rgba(22,61,122,1);
    
}

.reconocido img {
    padding: 20px 0px;
    
}

.reconocido:first-child {
    font-size: 15px;
}

.resultadosfi h2 {
    padding: 20px 0px 30px 0px;
    position: relative;
    font-size: 39px;
   
    text-align: center;
    color:rgba(22,61,122,1) ;
   
}

.resultados-financieros {
    text-align: center;
}
.resultados-financieros p {
    text-align: center;
    margin: auto;
    padding: 0px 10px 0px 10px;
    font-size: 20px;
    max-width: 900px;
    color:#152F4E;
    font-weight: 500;
}
.resultados-financieros p:nth-child(3) {
    text-align: center;
    margin: auto;
    padding: 20px 10px 40px 10px;
    font-size: 20px;
    max-width: 900px;
    color:#152F4E;
    font-weight: 800;
}

.resultados-financieros img {
    padding: 50px 10px 20px 10px;
    max-width: 100%;
}

.estrategia {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.grafica-estrategia img {
    max-width: 514px;
}

.estrategia p {
    padding: 40px;
    text-align: center;
    font-size: 18px;
    color:#152F4E;
}

.texto-pequeño {
    font-size: 11px;
    text-align: center;
    font-weight: normal;
    margin: 30px auto;
    color: rgba(147,148,149,1);
}

.gestion h2 {
    padding: 50px 0px 30px 0px;
    position: relative;
    font-size: 39px;   
    text-align: center;
    color:rgba(22,61,122,1) ;
   
}


.innovacion h2 {
    margin:0px auto 20px auto;
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    font-size: 35px;
    max-width: 483px;
    background-color: rgba(65,192,240,1);
    padding: 20px 0px;
}

.innovacion hr {
    background-color:rgba(65,192,240,1) ;
    max-width: 220px;
    height: 3px;
    margin:auto auto 20px auto;
    border:none;

}

.ods-innovacion {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ods-innovacion .ods-box .text {
    max-width: 600px;
    font-size: 18px;
    color: rgba(21,47,78,1);
}

.ods-innovacion .ods-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ods-innovacion .ods-icons p {
    padding: 20px 0px;
    font-size: 18px;
    color: rgba(21,47,78,1);
}

.grid-innovacion {
    margin: 45px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.grid-innovacion .grid-part {
    display: flex;
    max-width: 520px;
    
    
}

.grid-innovacion .grid-part h3 {
    font-size: 25px;
    color: #41C0F0;
    max-width: 490px;
}

.grid-innovacion .grid-part img {
    padding: 20px;
    
}

.grid-innovacion .grid-part hr {
    background-color:rgba(65,192,240,1) ;
    max-width: 110px;
    height: 3px;
    margin:10px 0px;
    border:none;
}
.grid-innovacion .grid-part p {
    font-size: 18px;
    color:#152F4E;
    max-width: 490px;
    margin-bottom: 50px;
}
.btn-top {
    display: flex;
}
.btn-top img {
    margin:auto;
}


/* ----- impacto en las personas ------ */

.impacto {
    padding-top: 60px;
}
.impacto h2 {
    margin:0px auto 20px auto;
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    font-size: 35px;
    max-width: 483px;
    background-color: #EB7600;
    padding: 20px 0px;
}

.impacto hr {
    background-color:#EB7600 ;
    max-width: 220px;
    height: 3px;
    margin:auto auto 20px auto;
    border:none;

}


.sub-title h3 {
    margin:0px ;
    border-radius: 10px;
    text-align: center;
    color: #EB7600;
    width: 100%;
    font-size: 35px;
    text-align: left;
    padding: 20px 0px 10px 0px;
}

.sub-title2 h3 {
    margin:0px ;
    border-radius: 10px;
    text-align: center;
    color: #EB7600;
    width: 100%;
    font-size: 35px;
    text-align: left;
    padding: 20px 0px 10px 0px;
}
.sub-title3 h3 {
    margin:0px ;
    border-radius: 10px;
    text-align: center;
    color: #EB7600;
    width: 100%;
    font-size: 35px;
    text-align: left;
    padding: 20px 0px 10px 0px;
}

.sub-title hr {
    background-color:#EB7600 ;
    max-width: 130px;
    height: 3px;
    border:none;

}
.sub-title2 hr {
    background-color:#EB7600 ;
    max-width: 230px;
    height: 3px;
    border:none;

}
.sub-title3 hr {
    background-color:#EB7600 ;
    max-width: 150px;
    height: 3px;
    border:none;

}

.ods-impacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ods-impacto img {
    max-width: 100%;
    
}

.ods-impacto .ods-box .text {
    max-width: 500px;
    font-size: 18px;
    color: rgba(21,47,78,1);
    text-align: center;
}

.ods-impacto .ods-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ods-impacto .ods-icons p {
    padding: 20px 0px;
    font-size: 18px;
    color: rgba(21,47,78,1);
}

.grid-impacto {
    margin: 0px auto 0px auto;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
    
}

.grid-impacto .grid-part {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    text-align: center;
    margin:20px 30px;
    justify-content: flex-start;
    position: relative;
   
}



.grid-impacto .grid-part h3 {
    font-size: 25px;
    color: #EB7600;
    max-width: 490px;
    
}

.grid-impacto .grid-part img {
    padding: 20px;
    height: 100px;
    
}

.grid-impacto .grid-part hr {
    background-color:#EB7600 ;
    max-width: 110px;
    height: 3px;
    margin:10px auto;
    border:none;
    /* position: absolute; */
    top:100%;
}
.grid-impacto .grid-part p {
    margin-top: 15px;
    font-size: 18px;
    color:#152F4E;
    max-width: 490px;
    margin-bottom: 20px;
}
.btn-top {
    display: flex;
}
.btn-top img {
    margin:auto;
}


/* ------  medio ambiente    ----------  */

.ambiente {
    padding-top: 60px;
}
.ambiente h2 {
    margin:0px auto 20px auto;
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    font-size: 35px;
    max-width: 483px;
    background-color: #68B230;
    padding: 20px 0px;
}

.ambiente hr {
    background-color:#68B230 ;
    max-width: 220px;
    height: 3px;
    margin:auto auto 20px auto;
    border:none;

}

.ods-ambiente {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ods-ambiente .ods-box .text {
    max-width: 600px;
    font-size: 18px;
    color: rgba(21,47,78,1);
}

.ods-ambiente .ods-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ods-ambiente .ods-icons p {
    padding: 20px 0px;
    font-size: 18px;
    color: rgba(21,47,78,1);
}

.grid-ambiente {
    margin: 45px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.grid-ambiente .grid-part {
    display: flex;
    max-width: 520px;
    
    
}

.grid-ambiente .grid-part h3 {
    font-size: 25px;
    color: #68B230;
    max-width: 490px;
}

.grid-ambiente .grid-part img {
    padding: 20px;
    
}

.grid-ambiente .grid-part hr {
    background-color:#68B230 ;
    max-width: 110px;
    height: 3px;
    margin:10px 0px;
    border:none;
}
.grid-ambiente .grid-part p {
    font-size: 18px;
    color:#152F4E;
    max-width: 490px;
    margin-bottom: 50px;
}


/* --------- negocios ---------- */

/* ------  medio ambiente    ----------  */

.negocios {
    padding-top: 60px;
}
.negocios h2 {
    margin:0px auto 20px auto;
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    font-size: 35px;
    max-width: 483px;
    background-color: #68B230;
    padding: 20px 0px;
}

.negocios hr {
    background-color:#68B230 ;
    max-width: 220px;
    height: 3px;
    margin:auto auto 20px auto;
    border:none;

}

.ods-negocios {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ods-negocios .ods-box .text {
    max-width: 600px;
    font-size: 18px;
    color: rgba(21,47,78,1);
}

.ods-negocios .ods-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ods-negocios .ods-icons p {
    padding: 20px 0px;
    font-size: 18px;
    color: rgba(21,47,78,1);
}


.grid-negocios {
    margin: 0px auto 0px auto;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
    
}

.grid-negocios .grid-part {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    text-align: center;
    margin:20px 50px;
    justify-content: flex-start;
    position: relative;
    
   
}



.grid-negocios .grid-part h3 {
    font-size: 25px;
    color: #68B230 ;
    max-width: 490px;
    
}

.grid-negocios .grid-part img {
    padding: 20px;
    height: 100px;
    
}

.grid-negocios .grid-part hr {
    background-color:#68B230 ;
    max-width: 110px;
    height: 3px;
    margin:10px auto;
    border:none;
    /* position: absolute; */
    top:100%;
}
.grid-negocios .grid-part p {
    margin-top: 15px;
    font-size: 18px;
    color:#152F4E;
    max-width: 300px;
    margin-bottom: 20px;
}



/* -----------    riesgo       ------------*/


.riesgo {
    padding-top: 60px;
}
.riesgo h2 {
    margin:0px auto 20px auto;
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    font-size: 35px;
    max-width: 483px;
    background-color: #163D7A;
    padding: 20px 0px;
}

.riesgo hr {
    background-color:#163D7A ;
    max-width: 220px;
    height: 3px;
    margin:auto auto 20px auto;
    border:none;

}

.ods-riesgo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ods-riesgo .ods-box .text {
    max-width: 600px;
    font-size: 18px;
    color: rgba(21,47,78,1);
}

.ods-riesgo .ods-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ods-riesgo .ods-icons p {
    padding: 20px 0px;
    font-size: 18px;
    color: rgba(21,47,78,1);
}

.grid-riesgo {
    margin: 45px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.grid-riesgo .grid-part {
    display: flex;
    max-width: 520px;
    
    
}

.grid-riesgo .grid-part h3 {
    font-size: 25px;
    color: #163D7A;
    max-width: 490px;
}

.grid-riesgo .grid-part img {
    padding: 20px;
    
}

.grid-riesgo .grid-part hr {
    background-color:#163D7A;
    max-width: 110px;
    height: 3px;
    margin:10px 0px;
    border:none;
}
.grid-riesgo .grid-part p {
    font-size: 18px;
    color:#152F4E;
    max-width: 490px;
    margin-bottom: 50px;
}


/* valor economico */


.valoreconomico h2 {
    font-size: 39px;
    font-weight: 800;
    text-align: center;
    color:rgba(22,61,122,1) ;
    margin-top: 20px;
   
}

.valoreconomico h2 span {
    
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    color:rgba(22,61,122,1) ;
   
}

.valoreconomico p {
    text-align: center;
    margin: 20px auto;
    padding: px 10px 0px 10px;
    font-size: 20px;
    max-width: 600px;
    color:#152F4E;
    font-weight: 500;
}

.tabla {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tablaeco { 
    margin: 30px auto;
    max-width: 100%;

}

.tabla a {
    background: linear-gradient(0deg, rgba(2,65,167,1) 0%, rgba(7,134,238,1) 100%);
    text-align: center;
    padding:20px 0px;
    max-width: 400px;
    width: 100%;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 800;
    border-radius: 60px;
    margin: 0px 0px 40px 0px;
    
}


/* ----- footer  -----*/

.footer {
    background:#E8E8E8 ;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.footer .container {
    background:#E8E8E8 ;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

footer .logo img {
    max-width: 428px;
    padding: 15px 0px;
}

.social {
    display: flex;
    align-items: center;
}

.social a {
    text-decoration: none;
    margin: 10px;
}




